body {
  margin: 0;
  padding: 0;
  font-size: 40px;
  background-color: black;
}

/*  ----------This styling repeats across all pages/routes --------------- */
.navBar {
  display: flex;
  height: 10vh;
  width: 100vw;
  border: 1px solid black;
  justify-content: space-around;
  background-color: black;
  color: white;
  justify-content: space-around;
}

/*  Nav Bar Link */
.navBar link {
  text-decoration: none;
}

.headerContainer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
}

/* MAIN CHAT ROOM STYLING */

.mainChatWrapper {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  background: red;
  align-items: center;
}

/*  window showing all messages sent  */
.mainChatWindow {
  display: flex;
  height: 70vh;
  width: 60vw;
  background-color: black;
  color: red;
  flex-direction: column;
  align-items: center;
}

/*  styling for the input form in the chat */
.mainChatInput {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: chartreuse;
  color: red;
  margin-bottom: 0%;
  justify-content: center;
}

/* BABY YODA ROOM STYLING */

.yodaChatWrapper {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  background: red;
  align-items: center;
}

/*  window showing all messages sent  */
.yodaChatWindow {
  display: flex;
  height: 70vh;
  width: 60vw;
  background-color: black;
  color: red;
  flex-direction: column;
  align-items: center;
}

/*  styling for the input form in the chat */
.yodaChatInput {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: chartreuse;
  color: red;
  margin-bottom: 0%;
  justify-content: center;
}

/* BABU FRIK ROOM STYLING */

.babuChatWrapper {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100vw;
  background: red;
  align-items: center;
}

/*  window showing all messages sent  */
.babuChatWindow {
  display: flex;
  height: 70vh;
  width: 60vw;
  background-color: black;
  color: red;
  flex-direction: column;
  align-items: center;
}

/*  styling for the input form in the chat */
.babuChatInput {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: chartreuse;
  color: red;
  margin-bottom: 0%;
  justify-content: center;
}

input {
  width: 500px;
  height: 100px;
  font-size: 40px;
}
